@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*COLORS*/
    --purple-color: #5F0F40;
    --red-color: #9A031E;
    --yellow-color: #FB8B24;
    --orange-color: #E36414;
    --blue-color: #0F4C5C;
    --shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    --deeper-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
    /*SIZING*/
    --header-section: 65vh;
    --header-photo: 45vh;
    --header-about-us-height: 40vh;
    --header-about-us-width: 75vh;
    --project-cards: 40vh;
    --project-photo-border-radius: 5px;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/*------------HEADER------------*/

header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: var(--header-section);
    width: 100%;
    background: linear-gradient(177deg, var(--purple-color) 74.5%, #ffffff 75%);
}

header > .photo-container {
    position: relative;
    width: var(--header-photo);
    height: var(--header-photo);
}

.header-photo {
    position: relative;
    width: var(--header-photo);
    height: var(--header-photo);
    object-fit: cover;
}

.header-photo-name {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 5vh;
    text-shadow: var(--shadow);
}

.about-us-card {
    height: var(--header-about-us-height);
    width: var(--header-about-us-width);
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    background-color: var(--blue-color);
    color: white;
    box-shadow: var(--deeper-shadow);

    letter-spacing: 0.7px;
    font-weight: 200;
    font-size: 1.8vh;
}

.name > * {
    font-family: "Roboto", sans-serif;
    text-shadow: var(--shadow);
}

.about-us-card > p {
    text-shadow: var(--shadow);
}

.logo-container {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.logo-container > a {
    font-size: 3vh;
    color: white;
    text-decoration: none;
}

.logo-container > a:hover {
    transform: scale(1.1);
}

/*------------MAIN------------*/

main {
    padding-bottom: calc(var(--project-cards)/5);
    background: linear-gradient(180deg, #ffffff, #f0f0f0);
}

.main-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
}

.main-header {
    font-size: 8vh;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: all 0.6s ease;
}

.main-header:hover {
    color: var(--purple-color);
    transform: scale(1.05);
    text-decoration: underline;
    text-shadow: var(--shadow);
}


.project-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--project-cards)/3);
}

.project-card {
    height: calc(var(--project-cards)*1.15);
    width: var(--project-cards);
    border: 1px solid var(--orange-color);
    border-radius: var(--project-photo-border-radius);
    transition: transform 0.6s ease, box-shadow 0.6s ease;

    background-color: var(--blue-color);
    color: white;
    box-shadow: var(--deeper-shadow);
    text-shadow: var(--shadow);

}

.project-card:hover, .icon-container > a:hover {
    transform: scale(1.05);
}

.project-card:hover {
    box-shadow: 6px 6px 2px 1px rgba(95, 15, 64, 0.3), 12px 12px 2px 1px rgba(95, 15, 64, 0.3), 18px 18px 2px 1px rgba(95, 15, 64, 0.3);
}

.project-card > img {
    height: calc(var(--project-cards)/1.4);
    width: calc(var(--project-cards) - 2px);
    object-fit: cover;
    border-top-left-radius: var(--project-photo-border-radius);
    border-top-right-radius: var(--project-photo-border-radius);
    border-bottom: 3px solid var(--yellow-color);
}

.project-description {
    font-weight: 200;
    padding: 15px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 5px;
}

.icon-container > a {
    text-decoration: none;
}

.icon-container > a > * {
    font-size: 25px;
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: white;
}

/*------------FOOTER------------*/

footer {
    width: 100%;
    height: var(--header-section);
    background-color: var(--purple-color);
    color: var(--yellow-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-me {
    width: calc(var(--header-photo)*1.3);
}

.contact-me > .logo-container {
    justify-content: flex-start;
    gap: 16px;
}

.contact-me > .logo-container > a {
    color: var(--yellow-color);
}


.contact-me > * {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0
}

.contact-me > * > svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: var(--yellow-color);
}

footer > img {
    position: relative;
    width: calc(var(--header-photo)*2);
    height: calc(var(--header-photo)*1.3);
    object-fit: cover;
}